[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "isaeditor"]
	path = isaeditor
	url = https://github.com/bihealth/isaeditor
	shallow = true
	registered = true
